header{
    background-color: steelblue;
    color: white;
    height: 20vh;
    width: 100vw;
}
nav{
    background-color: greenyellow;
    color: white;
    height: 20vh;
    width: 100vw;
    text-align: center;
}
.Blok_lewy,.Blok_lewy2{
    background-color: aqua;
    height: 20vh;
    width: 50%;
}

.Blok_prawy{
    background-color: black;
    height: 40vh;
    width: 50%;
}

footer{
    background-color: blueviolet;
    color: white;
    height: 20vh;
    width: 100vw;
    text-align: center;
    clear: both;
}
