*{
    font-family:Helvetica;
    
}
header , footer{

    background-color: #00838F;
    padding: 5px;
    font-size: 130%;
    color: white;
    text-align: center;
}
.blok_lewy_1 ,.blok_lewy_2{

    background-color: #EFEFEF ;
    width: 55%;
   

}
.blok_lewy_1{
    height: 150px;
     float: left;

}
.blok_lewy_2{
    height: 300px;
     float: left;
}
.blok_prawy{
    background-color:  #4FB3BF;
    width: 45%;
    height: 450px;
    text-align: center;
    float:right;
}
img{
    /* box-shadow:10px 10px dimgray; */
    box-shadow:10px 10px dimgray;
    margin: 20px;
}
 td,th{
    border: 1px #4FB3BF double;

    
    

}
table{
    border-collapse: collapse;
    margin: auto;
    width: 80%;
}
table , th{
    padding: 4px;
}
 tr:hover{
    background-color:#4FB3BF ;
}
footer{
    clear: both;
}
